<!--<ng-template #buttonsList>
    <div class="button-list-item pt-2 cursor-pointer" (click)="addPage('blank')">
        <div class="h5">Blank page</div>
        <p class="text-muted">Add blank page to application</p>
    </div>
    <div class="separator separator-solid"></div>

    <div class="button-list-item pt-2 cursor-pointer"  (click)="addPage('blank')">
        <div class="h5">Form page</div>
        <p class="text-muted">Add page with form fields to application</p>
    </div>
    <div class="separator separator-solid"></div>

</ng-template>
-->

<div class="slide-panel" [@sideComponent]="componentMenuState">
    <app-slide-panel></app-slide-panel>
</div>

<div class="slide-panel" [@sideComponent]="componentDeleteFormMenuState">
    <app-page-delete-form (close)="closeDeleteFormSide($event)" (delete)="doDeletePage($event)" [page_id]="page_id_for_delete"  [page_name]="page_name_for_delete"></app-page-delete-form>
</div>

<div class="slide-panel" [@sideComponent]="componentSettingsFormMenuState">
    <app-page-settings-form (close)="closeSettingsFormSide($event)" (delete)="doDeletePage($event)" [page_id]="page_id_for_delete"  [page_name]="page_name_for_delete"></app-page-settings-form>
</div>

<div class="slide-panel" [@sideComponent]="componentComponentFormMenuState">
    <app-page-component-form></app-page-component-form>
</div>

<!--
<div class="row add-button">
    <button mat-fab (click)="showSideComponent()">
        <i class="fas fa-plus text-white"></i>
    </button>
</div>
-->
<div class="row layer-controls" cdkDrag>

    <div class="col-sm-12" >
        <div class="btn-toolbar" role="toolbar">
            <!--<div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" (click)="trimLayoutList()"><i class="fas fa-plus"></i> Add element</button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary font-weight-bold" [ngbPopover]="buttonsList" container="body" placement="bottom"><i class="fas fa-plus"></i> Add page</button>
            </div>-->
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-sm btn-outline-secondary btn-icon" (click)="trimLayoutList()"><i class="fas fa-expand"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-icon"  (click)="centerLayoutList()"><i class="fas fa-expand-arrows-alt"></i></button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-sm btn-outline-secondary btn-icon" (click)="scaleMinus()"><i class="fas fa-search-minus"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-icon"  (click)="scaleReset()"><i class="flaticon2-refresh"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary btn-icon" (click)="scalePlus()"><i class="fas fa-search-plus"></i></button>
            </div>
            <p class="text-muted">
                {{'CONSTRUCTOR.LAYOUTS_COMPONENT_SIDE.SCALE' | translate}}: {{ scale | percent}}
            </p>
    </div>
    <div class="col-sm-12 gutter-t components-list-area" *ngIf="component_list.length>0">
        <span class="text-muted">{{'CONSTRUCTOR.LAYOUTS_COMPONENT_SIDE.PAGE_COMPONENTS' | translate}} {{selected_page_full.name}}</span>

        <div  *ngFor="let c of component_list; index as i">
            <div class="btn-group btn-block btn-sm pt-1">
                <button type="button" class="btn btn-light" (click)="showComponentForm(c,i)">{{c.title}} #{{c.id}}</button>
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-light dropdown-toggle-split" ngbDropdownToggle> <i class="flaticon-more"></i></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item btn-link-danger font-weight-bold" (click)="deleteComponentFromPage(c)">{{'GENERAL.LANGUAGES.DELETE' | translate}}</button>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>


</div>
<div class="row layers-container" [style.transform]="'scale('+ scale + ',' + scale + ')'" style="min-height:10000px">

    <app-page-card id="app-card-id{{page.page_id}}"
        (click)="selectPage(page)"
        #appcards 
        *ngFor="let page of pages; index as i" 
        style="position: absolute; transform-origin: left top 0px;" 
        [style.transform]="'translate3d('+ page.left + 'px,' + page.top + 'px,' + '0px)'"
        [width]="page.width" 
        [name]="page.name" 
        [type]="page.type" 
        [height]="page.height" 
        [left]="page.left" 
        [top]="page.top" 
        [height_orig]="page.height_orig" 
        [page_index]="i" 
        [page_id]="page.page_id" 
        [scale]="scale"
        [can_delete]="page.can_delete"
        [selected]="page.selected"
        (onMove)="layoutMove($event)"
        (onEndMove)="layoutEndMove($event)"
        (onEndResize)="layoutEndResize($event)"
        (onDelete)="layoutDeletePageClicked($event)"
        (onSettings)="layoutOpenSettingsPageClicked($event)"
        (onDropComponent)="layoutDropComponentEvent($event,page)"
    >

    </app-page-card>
</div>


