<ng-container >
    <div class="card card-custom">
        <!-- begin::Loading -->
        <ng-container *ngIf="isLoading$ | async">
            <div class="progress progress-modal">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                     style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </ng-container>
        <!-- end::Loading -->
        <!--begin::Header-->
        <div *ngIf="formGroup" class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.TITLE' | translate}}</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.TITLE_TEXT' | translate}}</span>
            </div>
            <div class="card-toolbar">
                <span class="label label-danger label-pill label-inline mr-2" *ngIf="formGroup.invalid && this.formGroup.touched">{{ 'GENERAL.LANGUAGES.FORM_NOT_FILL' | translate}}</span>
                <button type="submit" class="btn btn-success mr-2" [disabled]="formGroup.invalid && this.formGroup.touched" (click)="save()">{{ 'GENERAL.LANGUAGES.SAVE_CHANGES' | translate }}</button>
                <button type="reset" class="btn btn-secondary" (click)="cancel()">{{ 'GENERAL.LANGUAGES.CANCEL' | translate }}</button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <div *ngIf="formGroup" class="form" [formGroup]="formGroup">
            <div class="card-body">

                <div class="form-group">
                    <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.CONTENT_NAME' | translate}}</label>
                    <input type="text" class="form-control form-control-solid" formControlName="content_name"
                           [class.is-invalid]="formGroup.controls['content_name'].invalid && (formGroup.controls['content_name'].dirty || formGroup.controls['content_name'].touched)"
                           [class.is-valid]="formGroup.controls['content_name'].valid && (formGroup.controls['content_name'].dirty || formGroup.controls['content_name'].touched)">
                </div>

                <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.FIELDS' | translate}}</label>
                <mat-accordion multi>
                    <ng-container *ngFor="let field of formGroup.get('fields')['controls']; let i = index">
                        <div class="d-flex flex-row align-items-center">
                        <mat-expansion-panel class="flex-grow-1 mr-2" *ngIf="field.controls['field_type'].value === 'title'">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{'CONSTRUCTOR.CREATE_CONTENT_TYPE.CONTENT_TITLE' | translate}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div [formGroup]="formGroup.get('fields')['controls'][i]">

                                <div class="form-group">
                                    <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.FIELD_NAME' | translate}}</label>
                                    <input type="text" class="form-control form-control-solid" formControlName="field_name"
                                           [class.is-invalid]="field.controls['field_name'].invalid && (field.controls['field_name'].dirty || field.controls['field_name'].touched)"
                                           [class.is-valid]="field.controls['field_name'].valid && (field.controls['field_name'].dirty || field.controls['field_name'].touched)">
                                </div>

                                <div class="form-group">
                                    <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.FIELD_TYPE' | translate}}</label>
                                    <div>
                                        <select class="form-control form-control-solid" formControlName="field_type"
                                                [class.is-invalid]="field.controls['field_type'].invalid && (field.controls['field_type'].dirty || field.controls['field_type'].touched)"
                                                [class.is-valid]="field.controls['field_type'].valid && (field.controls['field_type'].dirty || field.controls['field_type'].touched)">
                                            <option value="title" [selected]="true">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.TEXT' | translate}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.DEFAULT_VALUE' | translate}}</label>
                                    <input *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'title'" type="text" class="form-control form-control-solid" formControlName="default_value">
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-5">
                                        <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.ORDER' | translate}}</label>
                                        <span class="navi-icon ml-2"><i class="flaticon2-up" (click)="orderUp(i)"></i></span>
                                        <span class="navi-icon ml-1"><i class="flaticon2-down" (click)="orderDown(i)"></i></span>
                                        <input type="text" class="form-control form-control-solid" formControlName="order"
                                               [class.is-invalid]="field.controls['order'].invalid && (field.controls['order'].dirty || field.controls['order'].touched)"
                                               [class.is-valid]="field.controls['order'].valid && (field.controls['order'].dirty || field.controls['order'].touched)">
                                    </div>

                                    <div class="col-lg-3 d-flex flex-column align-items-center">
                                        <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.LIST' | translate}}</label>
                                        <div class="d-flex flex-grow-1">
                                            <label class="checkbox checkbox-lg align-self-center">
                                                <input type="checkbox" formControlName="list"/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 d-flex flex-column align-items-center">
                                        <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.MULTILANG' | translate}}</label>
                                        <div class="d-flex flex-grow-1">
                                            <label class="checkbox checkbox-lg align-self-center">
                                                <input type="checkbox" formControlName="multilang"/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel class="flex-grow-1 mr-2" *ngIf="field.controls['field_type'].value !== 'title'">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{field.controls['field_name'].value}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div [formGroup]="formGroup.get('fields')['controls'][i]">

                            <div class="form-group">
                                <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.FIELD_NAME' | translate}}</label>
                                <input type="text" class="form-control form-control-solid" formControlName="field_name"
                                       [class.is-invalid]="field.controls['field_name'].invalid && (field.controls['field_name'].dirty || field.controls['field_name'].touched)"
                                       [class.is-valid]="field.controls['field_name'].valid && (field.controls['field_name'].dirty || field.controls['field_name'].touched)">
                            </div>

                            <div class="form-group">
                                <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.FIELD_TYPE' | translate}}</label>
                                <div>
                                    <select class="form-control form-control-solid" formControlName="field_type"
                                            [class.is-invalid]="field.controls['field_type'].invalid && (field.controls['field_type'].dirty || field.controls['field_type'].touched)"
                                            [class.is-valid]="field.controls['field_type'].valid && (field.controls['field_type'].dirty || field.controls['field_type'].touched)">
                                        <option value="image">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.IMAGE' | translate}}</option>
                                        <option value="string">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.STRING' | translate}}</option>
                                        <option value="text">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.TEXT' | translate}}</option>
                                        <option value="number">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.NUMBER' | translate}}</option>
                                        <option value="logical">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.LOGICAL' | translate}}</option>
                                        <option value="date">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.DATE' | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.DEFAULT_VALUE' | translate}}</label>
                                <input *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'string'" type="text" class="form-control form-control-solid" formControlName="default_value">
                                <input *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'number'" type="number" class="form-control form-control-solid" formControlName="default_value">
                                <div *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'logical'" class="checkbox-inline">
                                    <label class="checkbox checkbox-lg">
                                        <input type="checkbox" formControlName="default_value"/>
                                        <span></span>
                                    </label>
                                </div>
                                <div *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'date'">
                                    <mat-form-field appearance="fill">
                                        <mat-label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.CHOOSE_DATE' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="default_value">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'image'">
                                    <div class="icon_box p-1">
                                        <img class="max-w-100px max-h-100px" *ngIf="formGroup.get('fields')['controls'][i]['controls']['default_value'].value && formGroup.get('fields')['controls'][i]['controls']['default_value'].value!=''" src="{{platform_url}}{{resources_dir}}{{formGroup.get('fields')['controls'][i]['controls']['default_value'].value}}">
                                    </div>
                                    <button class="btn btn-secondary mr-2" (click)="openGalleryDialog(i)">{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.CHOOSE_IMAGE' | translate}}</button>
                                </div>
                                <div *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'text'">
                                    <ckeditor [config]="{ language: currentLanguage }" formControlName="default_value"></ckeditor>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-5">
                                    <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.ORDER' | translate}}</label>
                                    <span class="navi-icon ml-2"><i class="flaticon2-up" (click)="orderUp(i)"></i></span>
                                    <span class="navi-icon ml-1"><i class="flaticon2-down" (click)="orderDown(i)"></i></span>
                                    <input type="text" class="form-control form-control-solid" formControlName="order"
                                           [class.is-invalid]="field.controls['order'].invalid && (field.controls['order'].dirty || field.controls['order'].touched)"
                                           [class.is-valid]="field.controls['order'].valid && (field.controls['order'].dirty || field.controls['order'].touched)">
                                </div>

                                <div class="col-lg-3 d-flex flex-column align-items-center">
                                    <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.LIST' | translate}}</label>
                                    <div class="d-flex flex-grow-1">
                                        <label class="checkbox checkbox-lg align-self-center">
                                            <input type="checkbox" formControlName="list"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-3 d-flex flex-column align-items-center"
                                     *ngIf="formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'text' || formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'title' || formGroup.get('fields')['controls'][i]['controls']['field_type'].value === 'string'">
                                    <label>{{'CONSTRUCTOR.CREATE_CONTENT_TYPE.MULTILANG' | translate}}</label>
                                    <div class="d-flex flex-grow-1">
                                        <label class="checkbox checkbox-lg align-self-center">
                                            <input type="checkbox" formControlName="multilang"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </mat-expansion-panel>
                    <div>
                        <a class="btn btn-icon btn-sm" [ngClass]="{'btn-hover-danger': field.controls['field_type'].value !== 'title', 'cursor-default': field.controls['field_type'].value === 'title'}" (click)="deleteField(i, field.controls['field_type'].value)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md" [ngClass]="{'svg-icon-danger': field.controls['field_type'].value !== 'title'}"></span>
                        </a>
                    </div>
                    </div>
                    </ng-container>
                </mat-accordion>

                <button type="button" (click)="addNewField()" class="btn btn-primary btn-sm mt-3"> <i class="fas fa-plus"></i> {{'CONSTRUCTOR.CREATE_CONTENT_TYPE.ADD_FIELD' | translate}}</button>


            </div>
        </div>
        <!--end::Form-->
    </div>
</ng-container>


