/start_files
/node_modules
/public/hot
/public/files
/data

!/public/storage/components/
!/public/storage/
/public/storage/*
/public/assets/images/flags
/public/storage/application/
/public/*.svg
/public/*.js
/public/*.map
/public/*.ttf
/public/*.woff
/public/*.woff2
/public/*.eot
/public/*.png
/public/index.html


#app builder config
/builder/tools/
!/builder/tools/read.me

/builder/empty/
/builder/empty/node_modules
!/builder/empty/read.me

!/builder/build/read.me
/builder/build/



/dockers
docker-compose.yml

/storage/*.key
/public/files/

/vendor
#.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode