<ng-container >
    <div class="card card-custom" >
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
        <div class="progress progress-modal">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </ng-container>
      <!-- end::Loading -->

    <!--begin::Header-->
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
          <h3 class="card-label font-weight-bolder text-dark">{{'PAGE.LANGUAGES.DEFAULT_LANGUAGE' | translate}}</h3>
          <span class="text-muted font-weight-bold font-size-sm mt-1">{{'PAGE.LANGUAGES.DEFAULT_LANGUAGE_TEXT' | translate}}</span>
        </div>
        <div class="card-toolbar">
          <button type="submit" class="btn btn-success mr-2" (click)="save()">{{'GENERAL.LANGUAGES.SAVE_CHANGES' | translate}}</button>
          <button type="reset" class="btn btn-secondary" (click)="cancel()">{{'GENERAL.LANGUAGES.CANCEL' | translate}}</button>
        </div>
      </div>
      <!--end::Header-->      

    <!--begin::Form-->
    <div class="form" *ngIf="is_loaded">
        <div class="card-body" [formGroup]="formGroup">
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label text-alert">{{'PAGE.LANGUAGES.DEFAULT_LANGUAGE' | translate}}</label>
            <div class="col-lg-9 col-xl-6">
                <select class="form-control form-control-lg form-control-solid" formControlName="defaultLanguage">
                    <option *ngFor="let language of this.languages" value="{{language.code}}">{{'GENERAL.LANGUAGES.'+language.code | translate}}</option>
                </select>
            </div>
          </div>
        </div>
      </div>
      <!--end::Form-->

    </div>
</ng-container>
