<div class="wrapper p-10">

    <div class="alert  alert-custom alert-primary  p-0 pl-4" role="alert" style='width:380px;' *ngIf="source_date=='ok'">
        <div class="alert-icon"><i class="flaticon2-check-mark"></i></div>
        <div class="alert-text font-size-h5">{{'PREVIEW.SOURCE_IS_OK' | translate}}</div>
    </div>
    
    <div class="alert  alert-custom alert-warning  p-3 pl-4" role="alert" style='width:380px;' *ngIf="source_date=='wait'">
        <div class="alert-icon"><div class="spinner pr-10"></div></div>
        <div class="alert-text font-size-h5">{{'PREVIEW.SOURCE_IS_WAITING' | translate}}</div>
    </div>


    <div class="android1">
        <div class="mockup">
            <img src="/../../assets/images/preview/android1.png">
        </div>
        <div *ngIf="!is_loaded" class="frame_dummy">
            <div class="alert alert-custom alert-white shadow-sm fade show m-3 mt-10" role="alert">
                <div class="spinner pr-10"></div>
                {{'PREVIEW.WAITING' | translate}}
            </div>
        </div>
        <div *ngIf="is_loaded && is_updated">
            <iframe [src]="protoURL()" #iframe id="iframe"></iframe>
        </div>
        
    </div>

</div>



<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
    <!--begin::Item-->
    <li class="nav-item mb-2">
        <a class="btn btn-sm btn-icon btn-light-primary" (click)="refresh()">
            <i class="flaticon-home-2"></i>
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="btn btn-sm btn-icon btn-light-primary" (click)="rebuild()">
            <i class="flaticon2-reload"></i>
        </a>
    </li>
    <!--end::Item-->
</ul>
