<!--begin::Card-->
<div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">Solution Updates</h3>
            <span class="text-muted font-weight-bold font-size-sm mt-1">activate your coupon here</span>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <form class="form">
        <div class="card-body">
            <!--begin::Heading-->
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Activate Coupon</label>
                <div class="col-lg-9 col-xl-6">
                    <p class="form-text text-muted">You can create an unlimited number of websites using this
                        product installation.

                        You can add unlimited number of users for the current product copy.

                        Activate your coupon to renew the techsupport subscription, activate more sites or switch to
                        another
                        <a class="font-weight-bold">Learn more</a>.
                    </p>
                    <div class="row">
                        <div class="col-lg-9 col-xl-6">
                            <input class="form-control form-control-lg form-control-solid" type="text" placeholder="Enter the coupon code">
                        </div>
                        <button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Activate Coupon</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Card-->