<ng-container>
    <div class="card card-custom">
        <!-- begin::Loading -->
        <ng-container *ngIf="userWithdrawalsService.isLoading$ | async">
            <div class="progress progress-modal">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                     style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </ng-container>
        <!-- end::Loading -->
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Withdrawals Requests</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Withdrawal requests made by users</span>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <div class="form">
            <!--begin::Body-->
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row">Full Name</th>
                        <th scope="row">Email</th>
                        <th scope="row">Amount</th>
                        <th scope="row">Description</th>
                        <th scope="row">Datetime</th>
                        <th scope="row">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let withdrawal of userWithdrawalsService.withdrawalItems | async; index as i;">
                        <td scope="row">{{i+1}}</td>
                        <td scope="row">
                            <span class="font-weight-bolder">{{withdrawal.user.name}}</span>
                        </td>
                        <td scope="row">{{withdrawal.user.email}}</td>
                        <td scope="row">
                            <span class="font-weight-bolder">{{withdrawal.amount}}</span>
                        </td>
                        <td scope="row">{{withdrawal.description}}</td>
                        <td scope="row">{{withdrawal.createdAt | date: 'medium'}}</td>
                        <td scope="row">
                            <a *ngIf="withdrawal.status == 'PENDING'"
                               class="btn btn-light-warning font-weight-bolder font-size-sm cursor-pointer">Pending</a>
                            <a *ngIf="withdrawal.status == 'REVIEWING'"
                               class="btn btn-light-warning font-weight-bolder font-size-sm cursor-pointer">Reviewing</a>
                            <a *ngIf="withdrawal.status == 'APPROVED'"
                               class="btn btn-light-success font-weight-bolder font-size-sm cursor-pointer">Approved</a>
                            <a *ngIf="withdrawal.status == 'REJECTED'"
                               class="btn btn-light-danger font-weight-bolder font-size-sm cursor-pointer">Rejected</a>
                        </td>
                        <td scope="row" class="text-right">
                            <div class="btn-group" ngbDropdown role="group"
                                 aria-label="Button group with nested dropdown">
                                <a ngbDropdownToggle class="btn btn-clean btn-hover-light-primary btn-sm btn-icon">
                                    <i class="ki ki-bold-more-hor"></i>
                                </a>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <button class="dropdown-item" color="primary" (click)="reviewing(withdrawal)">
                                        Reviewing
                                    </button>
                                    <button class="dropdown-item" color="accent" (click)="approve(withdrawal)">
                                        Approve
                                    </button>
                                    <button class="dropdown-item" color="warn" (click)="reject(withdrawal)">
                                        Reject
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td scope="row"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Form-->
    </div>
</ng-container>