<!--begin::Profile Overview-->
<div class="d-flex flex-row" >
    <!--begin::Aside-->
    <div class="flex-row-auto offcanvas-mobile w-300px w-xl-350px" id="kt_profile_aside">
<!--begin::Profile Card-->
<div class="card card-custom card-stretch" >
    <!--begin::Body-->
    <div class="card-body pt-4">
        <app-market-place-overview></app-market-place-overview>
    </div>
    <!--end::Body-->
  </div>
  <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
  
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8">
      <router-outlet></router-outlet>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Profile Overview-->
