<ng-container >

  <ng-container *ngIf="userLoaded">
    <!--begin::Header-->
    <div
      class="d-flex align-items-center justify-content-between flex-wrap p-8 bgi-size-cover bgi-no-repeat rounded-top"
      style="background-image: url('./assets/media/misc/bg-1.jpg');"
    >
      <div class="d-flex align-items-center mr-2">
        <!--begin::Symbol-->
        <div class="symbol bg-white-o-15 mr-3">
          <span
            class="symbol-label text-success font-weight-bold font-size-h4"
            >{{userCurrent.letter}}</span
          >
        </div>
        <!--end::Symbol-->

        <!--begin::Text-->
        <div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">
          {{userCurrent.name + ' ' + userCurrent.lastname}}
        </div>
        <!--end::Text-->
      </div>
    </div>
    <!--end::Header-->
  </ng-container>

  <!--begin::Nav-->
  <div class="navi navi-spacer-x-0 pt-5">
    <!--begin::Item-->
    <a class="navi-item px-8 cursor-pointer" routerLink="/user-page" [queryParams]="{b: currentUrl}">
      <div class="navi-link">
        <div class="navi-icon mr-2">
          <i class="flaticon2-calendar-3 text-success"></i>
        </div>
        <div class="navi-text">
          <div class="font-weight-bold">
            {{'PROFILE.TOP.MY_PROFILE' | translate}}
          </div>
          <div class="text-muted">
            {{'PROFILE.TOP.MY_PROFILE_INFO' | translate}}
          </div>
        </div>
      </div>
    </a>
    <!--end::Item-->


    <!--begin::Footer-->
    <div class="navi-separator mt-3"></div>
    <div class="navi-footer px-8 py-5">
      <a class="btn btn-light-primary font-weight-bold cursor-pointer" (click)="logout()" >{{'PROFILE.TOP.SIGN_OUT' | translate}}</a>
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Nav-->
</ng-container>
