<ng-container *ngIf="user">
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">{{'PROFILE.FULL.CHANGE_PASSWORD' | translate}}</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">{{'PROFILE.FULL.CHANGE_YOUR_ACCOUNT_PASSWORD' | translate}}</span>
      </div>
      <div class="card-toolbar">
        <span class="label label-danger label-pill label-inline mr-2" *ngIf="formGroup.invalid && this.formGroup.touched">{{'PROFILE.FULL.FILL_REQUIRED_FIELDS' | translate}}!</span>
      <button *ngIf="user.user_type_id > 1" type="reset" class="btn btn-secondary mr-2" (click)="cancel()"><i class="fas fa-backspace icon-md mr-1"></i>{{'GENERAL.LANGUAGES.CANCEL' |
          translate}}</button>
      <button *ngIf="user.user_type_id === 1" type="reset" class="btn btn-light-warning mr-2" (click)="cancel()"><i class="fas fa-undo-alt icon-nm mr-1"></i>{{'GENERAL.LANGUAGES.RESET' |
          translate}}</button>
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">{{'GENERAL.LANGUAGES.SAVE_CHANGES' | translate}}</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">{{'PROFILE.FULL.CURRENT_PASSWORD' | translate}}</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid mb-2"
              placeholder="{{'PROFILE.FULL.CURRENT_PASSWORD' | translate}}"
              autocomplete="off"
              formControlName="currentPassword"
              [class.is-invalid]="isControlInvalid('currentPassword') || this.isWrong"
              [class.is-valid]="isControlValid('currentPassword') && !this.isWrong"
            />
            <div class="valid-feedback" *ngIf="isControlValid('currentPassword')">{{'PROFILE.FULL.CURRENT_PASSWORD_WAS_ENTERED_CORRECT' | translate}}</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'currentPassword')">{{'ERROR.MESSAGES.Password is required' | translate}}</div>
            <div class="invalid-feedback" *ngIf="this.isWrong">{{'ERROR.MESSAGES.WRONG_PASSWORD' | translate}}.</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">{{'PROFILE.FULL.NEW_PASSWORD' | translate}}</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="{{'PROFILE.FULL.NEW_PASSWORD' | translate}}"
              autocomplete="off"
              formControlName="password"
              [class.is-invalid]="isControlInvalid('password')"
              [class.is-valid]="isControlValid('password')" 
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">{{'PROFILE.FULL.VERIFY_PASSWORD' | translate}}</label>
          <div class="col-lg-9 col-xl-6">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="{{'PROFILE.FULL.CONFIRM_PASSWORD' | translate}}"
              autocomplete="off"
              formControlName="cPassword"
              [class.is-invalid]="isControlInvalid('cPassword')"
              [class.is-valid]="isControlValid('cPassword')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('cPassword')">{{'PROFILE.FULL.PASSWORD_CONFIRMATION_ENTERED_CORRECT' | translate}}</div>
            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">{{'ERROR.MESSAGES.PASSWORDS_DIDNT_MATCH' | translate}}.</div>
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>